[Unit]
Description=Task Tracker

[Service]
Type=simple
User=task_tracker
Group=task_tracker
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/tasks2/task_tracker
ExecStart=/home/tasks2/task_tracker/start.sh

[Install]
WantedBy=multi-user.target
